#General
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#Node.js / Backend
backend/node_modules/
backend/npm-debug.log
backend/yarn-debug.log
backend/yarn-error.log
backend/.env

server/node_modules
server/npm-debug.log
server/yarn-debug.log
server/yarn-error.log
server/.env

src/server/node_modules
src/server/npm-debug.log
src/server/yarn-debug.log
src/server/yarn-error.log
src/server/.env

#Frontend
app/node_modules/
app/build/
app/dist/
app/npm-debug.log
app/yarn-debug.log
app/yarn-error.log
app/.env

#Docker
# we gonna need this later when we start using docker for the whole app, for now we can ignore it
# docker-compose.override.yml